.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    color: white;
    padding: 0px 10px;
    line-height: 40px;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: orange;
    text-align: center;
}

.menu ul li a:hover {
    color: yellow;
}

.menu ul ul {
    text-align: left;
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 100px;
    background-color: white;
    box-shadow: 2px 1px 10px gray;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul ul a {
    line-height: 30px;
    color: orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 1px 20px;
}

.menu ul ul a:hover {
    background-color: orange;
    color: white;

}