.page {
    width: 400px;
    height: 550px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgb(191, 188, 183);
    margin: auto;
    border-radius: 8px;
    padding: 5px 10px 30px 20px;
    display: block;
}

.tex_quicky {
    color: gray;
    font-size: 18px;
    line-height: px;
}

.close {
    margin-top: 15px;
    margin-right: 10px;
    color: gray;

}

.top {
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.form_ten {
    width: 190px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(210, 207, 203);
    background-color: rgba(245, 246, 248, 0.987);
    margin: 4px;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-bottom: -10px;
    padding: 15px;
}

.form_2 {
    box-sizing: border-box;
    width: 396px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(210, 207, 203);
    background-color: rgba(245, 246, 248, 0.987);
    border: none;
    outline: none;
    margin-bottom: -10px;
    padding: 15px;
}

.form_date {
    width: 30%;
    height: 35px;
    color: gray;
    border-radius: 5px;
    outline: none;
    margin: 5px;
    padding: 10px;

}

.text {
    font-size: 13px;
    color: rgb(123, 121, 121);
}

.frame {
    width: 107px;
    margin: 3px;
    color: gray;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
    display: inline-block;
}

.demo {
    color: rgb(48, 55, 244);
    font-size: 13px;
}

.below {
    color: gray;
    font-size: 13px;
}

.end {
    margin: 30px 0px;
    text-align: center
}

.form-button {
    width: 160px;
    height: 40px;
    color: white;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(18, 185, 32);
    margin-top: -20px;

}

.form-button:hover {
    background-color: rgb(80, 134, 84);
}