
body{
    margin: 0;
    padding: 0;
}
table {
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border: 1px solid #6b6767;
    padding: 0px;   
    border: none ;
    
}
td{
    border: none;
    text-align: left;
}
tr{
    background-color: rgb(233, 231, 231);
}
td a {
    text-decoration: none;
    color: #0d9fd0  ;
}
    .column_2_4{
    width: 0px;
    height: 30px;
}
td svg{
    /* display: block; */
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: rgb(52, 77, 190);
}
td svg:hover{
    color: rgb(242, 90, 8);
}
svg{
    margin: 8px;
}


section{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    border: 1px solid #030759  ;
    border-radius: 10px;
    border-top: none;
    margin-top: -50px;
}
.fram_cow_2{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px solid gray;
    height: 50px;
    width: 100%;
    margin-top: -60px;
    background-color: #dfdcdc;  
}

.current_time{
    display: inline-block; 
    vertical-align: middle;
    margin-right: 0px;
    line-height: 45px;
    margin-left: 20px;
    width: 90%;
    font-size: 18px;
    color: #353536;
}
.form_find{

   text-align: left;
   height: 25px;
   line-height: 45px;
   margin-top: 10px;
   border-radius: 5px 0px 0px 5px;
   border: 1px solid gray;
   outline: none;

}
.img_find{
    border: 1px solid;
    height: 30px;
    margin-right: 2%;
    margin-top: 10px;
    border: none;
    background-color: #0c1cf3;
    border-radius: 0px 5px 5px 0px;
}
.img_find:hover{
    background-color: rgb(247, 247, 10);
}


#container {
    width: 1060px;
    /* height: auto; */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(30, 30, 30); 
    border-radius: 3px;
}

marquee{
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #0d9fd0;
    line-height: 30px;
    border-radius: 3px;
}

#nav {
    text-transform: capitalize;
}

.haha {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
#nav ul.hmenu {
    border-radius: 5px 5px 0px 0px;
    list-style: none;
    background-color: #0c43f9;
    height: 55px;
    margin-top: 0px;
    border-bottom: none;
}


#nav ul.hmenu li a {
    display: block;
    line-height: 40px;
    text-decoration: none;
    padding-left: 25px;
    color: white;
}
#nav ul.hmenu li {
    float: left;
    margin: 0 5px;
    position: relative;
}

#nav ul.hmenu li:hover .submenu {
    display: block;
}

#nav .submenu {
    border-radius: 5px;
    box-shadow: 0 0 5px #44a5c5;
    list-style: none;
    position: absolute;
    width: 200px;
    padding: 0px;
    background: #44a5c5;
    display: none;
}

#nav .icon {
    padding-top: 4px;
}

#nav .right ul {
    list-style: none;
}

.content {
    display: flex;
    justify-content: space-between;
}
.letf li:hover{
    background-color: #030759;
    width: 150px;
    height: 55px;
}
.letf li{
    width: 150px;
    height: 55px;
}

.content .letf ul {
    padding: 0 px;
    margin: 5 px;
    list-style: none;
    border-radius: 3 px;
    box-shadow: 0 0 2 pixel gray;
}

.content .letf ul a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #83c9e0;
    color: #0d9fd0;
    font-size: larger;
    padding: 8px 5px 8px 30px;
}

.content .letf .top a {
    background-color: #0d9fd0;
    color: #fff;
}

.content .letf ul a:hover {
    background-color: #248f44;
    color: #fff;
    font-weight: bold;
}

.main{
    flex: 4;
    margin-left: 5px;
}

.main h3{
    background-color: #0d9fd0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 5px ;
}

.main img{
    width: 100%;
}

.chuyendoi{
    border: 1px solid #0d9fd0;
    margin-bottom: 10px;
    border-radius: 5px;
}

.new{
    border: 1px solid #0d9fd0;
    border-radius: 5px
}

.new .new1{
    list-style: none;
}
.new .new1 a{
    text-decoration: none;
    color: #0d9fd0;
    font-size: 15px;
    text-align: left;
    display: list-item;
}
.new .new1 a:hover{
    text-decoration: underline;
}

.main .new .new1 {
    margin: 20px 10px;
}

.main .new .new1 a{
    padding: 5px;
}

.main .danvu{
    margin-top: 10px
}

.main .hoatdong{
    margin-top: 10px;
}

.main .hoatdong .top{
    margin-top: 10px;
    padding-left: 20px;
    color: #0d9fd0;
    text-transform: uppercase;
}

footer{
    width: 100%;
    height: 100px;
    line-height: 20px;
    background-color: #160ce6;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    margin-top: 1500px;
}
