.menu ul li{
    display: inline-block;
    position: relative;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    font-size: large;
    color: white;
    padding: 0px 10px;
    line-height: 40px;
}
.menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: rgb(146, 14, 14);
    text-align: left;
}
.menu ul li a:hover{
    color: yellow;
}
.menu ul ul {
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none ;
    border-radius: 3px;
    width: 160px;
    background-color: white;
    box-shadow:2px 1px 10px gray ;
}
.menu ul li:hover ul{
    display: block;
}
.menu ul ul a{
    line-height: 30px;
    color:red;
    
    font-size: larger;
    padding: 1px 20px;
}
.menu ul ul a:hover{
    background-color: rgb(105, 103, 103);
    color: white;
    min-width: 120px;
}
